.cart-page {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  transform: translateX(-100%);
}

.open {
  transform: translateX(0) !important;
}

.overlay {
  z-index: 3;
}

.cart {
  width: 30%;
  margin-left: auto;
  background-color: white;
  height: 100vh;
  padding: 2rem;
}

.close-btn {
  font-size: 4rem;
  color: var(--clr-secondery);
}

.close-btn span,
svg {
  display: block;
}
