.home-section {
  margin: 3rem auto;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  text-align: center;
}

.home-section h2 {
  font-size: 4rem;
  color: var(--clr-secondery);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.product-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
