.product-container {
  min-height: 80rem;
  padding: 2rem 0;
  display: flex;

  position: relative;
}

.filter-bar {
  align-self: flex-start;
  padding: 1rem;
  flex-basis: 25%;
  position: sticky;
  top: 0;
  padding-right: 2rem;
}

.filter-bar li {
  font-size: 2.2rem !important;
  cursor: pointer;
}

.filter-bar li:hover {
  color: var(--clr-primary);
}

.sub-heading {
  font-size: 2.4rem;
  margin-top: 2rem;
}

.search-bar {
  width: 100%;
  border: none;
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 5px;
  margin: 1rem 0;
}

.catagory li {
  font-size: 2rem;
  color: var(--clr-ff);
}

.product-div {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.range-input {
  width: 100%;
}

.price {
  font-size: 1.8rem;
  text-align: right;
  padding-right: 1rem;
}
