.header {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(rgba(66, 68, 120, 0.5), rgba(66, 68, 120, 0.5)),
    url("../../public/images/background-image.jpg") no-repeat;
  background-size: cover;
}

.header-nav {
  background-color: "";
  color: var(--clr-ff) !important;
}

.big-headline {
  font-size: 10rem;
  font-weight: bold;
  font-family: "Pacifico", cursive;
  margin-top: 8rem;
}

.medium-headilne {
  margin: 1rem 0 3rem 0;
  font-size: 7.5rem;
  font-family: "Pacifico", cursive;
}
