@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --clr-background: #bcc4ca;
  --clr-primary: #2a2638;
  --clr-secondery: #424478;
  --clr-accent: #e8e4ff;

  --clr-ff: #fff;
  --clr-gray: rgb(41, 39, 39);
}

body {
  font-family: Kanit, sans-serif;
}

.container {
  width: 90vw;
  max-width: 170rem;
  margin: 0 auto;
}
